# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules/
# dependencies
frontend/detection-client/node_modules
/.pnp
backend/node_modules
backend/uploads
.pnp.js

# testing
/coverage

frontend/detection-client/src/url.js

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
