html, body {
    height: 100%;
    background-color: #2d545e;
}

.header-div {
    background-color: red;
    position: absolute;
    top:0;
}

body {
    margin: 0;
    min-width: 200px;
    
}

.app-container {
    max-height: 100%!important;
}

#root {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

}



label {
    display: inline-block;
    border: 3px solid #c89666;
    border-radius: 20px;
    padding: 14px 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e1b382;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    text-align: center;
    margin: 10px;

}

label:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

button {
    background-color: #c89666;
    border-color:#2d545e;
    padding: 14px 42px;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.input-prev-div {
    text-align: center;
}

.input-prev-img {
    max-width: 400px;
    min-width: 50px;
    padding: 10px;
}


#download-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #c89666;
    width: inherit;
    color: white;
    border-radius: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;

}



pre {
    color: white;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 425px) {
   
    label {
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
    button {
        display: block;
        width: 100%;
        box-sizing: border-box
    }

    .input-prev-img {
            width: 350px;
    }
    .app-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 100%;
         margin: 0 auto;
         

    }
}